
input {
    font-size: var(--font-size-input);
    background-color: var(--light-grayish-cyan-color2);
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    outline: none;
    color: var(--dark-cyan-color);
}

input:focus, input:active {
    border-color: var(--primary-color);
    z-index: 1;
}

#percent-selector button {
    font-weight: 700;
    font-size: var(--font-size-input);
}

#error-bill, #error-people {
    color: red;
    visibility: hidden;
}

#input-bill, #input-people {
    padding-left: 40px;
}

.field-icon {
    width: 20px;
}

button[class~="seleccionado"] {
    background-color: var(--light-grayish-cyan-color);
    color: var(--dark-cyan-color);
    border-width: 0;
    border-radius: 5px;
    padding: 5px;
}

button[class~="no-seleccionado"] {
    background-color: var(--dark-cyan-color);
    color: var(--white-color);
    border-width: 0;
    border-radius: 5px;
    padding: 5px;
}

button[class~="presionado"] {
    background-color: var(--primary-color);
}

.title-label-result {
    color: var(--white-color);
    font-weight: 700;
}

.value-result {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 700;
}

#button-reset {
    outline: none;
    border-width: 0;
    border-radius: 5px;
    font-size: var(--font-size-input);
    font-weight: 700;
    padding: 5px;
}

.activo {
    background-color: var(--light-grayish-cyan-color);
}

.inactivo {
    background-color: hsl(172deg 41% 27%);
    color: var(--dark-cyan-color);
}
